<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MOL.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MOL.My.MySettings>
            <setting name="Material" serializeAs="String">
                <value>3mm basewood</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="Passes" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SpeedMin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SpeedMax" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="PowerMin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Engrave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PowerMax" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="FontPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FontFile" serializeAs="String">
                <value />
            </setting>
        </MOL.My.MySettings>
    </userSettings>
</configuration>
